<%= form_with(model: timing, local: true) do |form| %>
  <% if timing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(timing.errors.count, "error") %> prohibited this timing from being saved:</h2>

      <ul>
      <% timing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
      <%= form.label :place_name %><br>
      <% place_arr=Place.all.map{|i| [i.place_name]} %>
      <%= form.collection_select :place_id, Place.order(:id), :id,:place_name%>
    </div>
   
   <div class="field">
    <%= form.label :day %>
    <%= form.select :day, {Monday: "Monday",Tuesday: "Tuesday", Wednesday: "Wednesday", Thursday: "Thursday", Friday: "Friday", Saturday: "Saturday", Sunday: "Sunday"} %>
  </div>
  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time,  {ampm: true} %>  
   
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_select :end_time,  {ampm: true}, id: :timing_end_time%>
  </div>

  <div class="actions">
    <%= form.submit 'Create', class: "btn btn-primary" %>
  </div>
<% end %>
