<%= flash_messages %>

<h2>States List</h2>
<div class="product-block">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-4">Options</th>
      </tr>
    </thead>

    <tbody>
      <% @states.each do |state| %>
        <tr>
          <td class="col-md-2"><%= state.state_name %></td>
          <td class="col-md-4">
            <%= link_to 'Show', state_path(state), class: "btn btn-info" %>
            <%= link_to 'Edit', edit_state_path(state), class: "btn  btn-warning" %>
            <%= link_to 'Destroy', state_path(state), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New State', new_state_path, class: "btn btn-primary" %>