<p id="notice"><%= notice %></p>

<p>
  <strong>Place name:</strong>
  <%= @place.place_name %>
</p>

<p>
  <strong>Place type:</strong>
  <%= @place.place_type %>
</p>

<p>
  <strong>Place details:</strong>
  <%= @place.place_details %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @place.phone_number %>
</p>

<p>
  <strong>Area Name:</strong>
  <%= @address.area_name %>
</p>

<p>
  <strong>Road Name:</strong>
  <%= @address.road_name %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @address.landmark %>
</p>

<p>
  <strong>City Name:</strong>
  <%= @address.city_name %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @address.remarks %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @address.pincode %>
</p>
<p>
  <strong>State Name:</strong>
   <%= @address.state.state_name  %>
</p>


<%= link_to 'Edit', edit_place_path(@place), class: "btn btn-warning" %> |
<%= link_to 'Back', places_path , class: "btn btn-default"%>
